html, body {
        margin: 0;
        padding: 0;
        height: 100%; /* Optional, ensures body takes full viewport height */
    }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: grid;
    grid-template-columns: 400px minmax(400 auto);
    gap: 10px;
    width: 100%;
    max-width: 1960px;
}

.container div {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: tomato;
    color: white;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 20px;
}

#map { height: 180px; }
